[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-wtf = "*"
"wtforms.validators" = "*"
email-validator = "*"
flask-login = "*"
flask-mail = "*"
passlib = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
