<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div id="header" class="header-grid">
            <h1 id="header-text">About</h1>

            <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                <li id="about"><a href="about">About</a></li>
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
                <li id="admin"><a href="admin">Admin</a></li>
            </ul>
        </div>
        </div>

    <div id="content">
        <div id="info">
            <p>Condorm Delivery was intially created by a McMillion innovation team at the University of Arkansas in Fayetteville.
                However the project was terminated in its infancy. Now our team seeks to fully realize the project that was started
                by the original team in an effort to create a healthier sexual lifestyle for all University of Arkansas students.
            </p>
            <br>
            <p>For more information about the project please visit our <a href="https://capstone-csce.uark.edu/fall-spring-2020-2021/teams-1-5-f20/team-5-condorm-delivery/">class website.</a> On
            this website you will find links to each team members biography, a project summary, the project proposal, a schedule for the project, and a presentation done by the team.</p>
        </div>
    </div>

</div>
</body>
</html>