<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">

    <script src="https://xemantic.github.io/shader-web-background/dist/shader-web-background.min.js"></script>
    <script type="x-shader/x-fragment" id="image">
    precision highp float;

    uniform float iTime;
    uniform vec2  iResolution;

    const float speed = 0.4;
const float widthFactor = 2.0;

vec3 calcSine(vec2 uv,
              float frequency, float amplitude, float shift, float offset,
              vec3 color, float width, float exponent, bool dir)
{
    float angle = iTime * speed * frequency + (shift + uv.x) * 0.75;

    float y = sin(angle) * amplitude + offset;
    float clampY = clamp(0.0,y,y);
    float diffY = y - uv.y;

    float dsqr = distance(y,uv.y);
    float scale = 1.0;

    if(dir && diffY > 0.0)
    {
        dsqr = dsqr * 4.0;
    }
    else if(!dir && diffY < 0.0)
    {
        dsqr = dsqr * 4.0;
    }

    scale = pow(smoothstep(width * widthFactor, 0.0, dsqr), exponent);

    return min(color * scale, color);
}

void mainImage( out vec4 fragColor, in vec2 fragCoord )
{
    vec2 uv = fragCoord.xy / iResolution.xy;
    vec3 color = vec3(0.0);

    float t1 = (sin(iTime/20.0) / 3.14) + 0.2;
	float t2 = (sin(iTime/10.0) / 3.14) + 0.2;

    color += calcSine(uv, 0.20, 0.2, 0.0, 0.5,  vec3(0.5, 0.5, 0.5), 0.1, 15.0,false);
    color += calcSine(uv, 0.40, 0.15, 0.0, 0.5, vec3(0.5, 0.5, 0.5), 0.1, 17.0,false);
    color += calcSine(uv, 0.60, 0.15, 0.0, 0.5, vec3(0.5, 0.5, 0.5), 0.05, 23.0,false);

    color += calcSine(uv, 0.26, 0.07, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.1, 17.0,true);
    color += calcSine(uv, 0.46, 0.07, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.05, 23.0,true);
    color += calcSine(uv, 0.58, 0.05, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.2, 15.0,true);

    color.x += t1 * (1.0-uv.y);
	color.y += t2 * (1.0-uv.y);

    fragColor = vec4(color,1.0);
}

void main() {
    mainImage( gl_FragColor, gl_FragCoord.xy );
}
  </script>

    <script>
    shaderWebBackground.shade({
      shaders: {
        image: {
          uniforms: {
          iResolution: (gl, loc, ctx) => gl.uniform2f(loc, ctx.width, ctx.height),
            iTime: (gl, loc) => gl.uniform1f(loc, performance.now() / 1000)
          }
        }
      }
    });
  </script>

</head>
<body>
    <div class="container">

        <div id="header" class="header-grid">
            <h1 id="header-text">Condorm Delivery Service</h1>

            <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                {% if not current_user.admin %}
                <li id="about"><a href="about">About</a></li>
                {% endif %}
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
                {% if current_user.admin %}
                <li id="admin"><a href="admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
        <div id="content">
            <div id="info">
                <h1 id = "what">What is Condorm Delivery?</h1>
                <p>Condorm delivery is a program intended for University of Arkansas students to gain access to products and information they need to maintain a healthy sexual lifestyle.
                    Condorm delivery aims to remove any stigma students may feel in regards to sexual health. The service will provide students at the University of Arkansas with condoms
                    in an anonymous fashion so that the students will not feel uncomfortable being sexually healthy. Students may order on our website and have condoms discretely delivered
                    to their dorms. We have an IOS app in development.</p>
                <h1 id = "why">Why do we need Condorm Delivery?</h1>
                <p>According to <a href="https://health.uark.edu/medical-health/gyt-clinic.php"> Pat Walker Health Center</a> 1 in 2 sexually active young people will get a sexually transmitted
                disease by 25 and of the 20 million new STDs that occur every year in the United States, most will go undiagnosed. A recently conducted survey given to students at the University of Arkansas by Reed Vierling and his McMillon Innovation team yielded some key insights on student life and sexual health. 64% of respondents are sexually active, 30% have had five or more sexual partners, and 41% do not regularly use protection.
                Part of the problem is coming from people not feeling fully comfortable talking about sexual health with potential partners. They have the mindset of “what I don’t know won’t hurt me,” but that is not the case. They also assume if they do catch an STI, they will know about it. However, many don’t show symptoms and will likely get passed on to someone else.
                The college STI epidemic, if left unchecked, could continue to worsen. Instead of 25% of college students contracting an STI during college, it soon may be 33%. By starting the conversation and educating the students, we would be helping countless students live safer and healthier lives during and after college.
                 </p>
            </div>
        </div>
    </div>


</body>
</html>