<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="sidebar">
        <a href="/">Home</a>
        {% if current_user.is_authenticated %}
        <a href="order">Order</a>
        {% endif %}
        <a href="about">About</a>
        <a href="resources">Resources</a>
        {% if current_user.is_authenticated %}
        <a href="update">Update Information</a>
        <a href="logout">Logout</a>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <a href="login">Login</a>
        {% endif %}
    </div>
    
    <div class="header">
        <h1>Order</h1>
    </div>
    
    <div class = "products">
        {% if message %}
            <h3 class="message"> {{ message | safe }}</h3>
        {% endif %}
        <form action = "/submit" method = "POST">
            <div class = "form-group">
                <label>Please select a product:</label>
                    <select name = "products" id = "products" onchange = "selectChange()">
                        {% for prod in products %}
                        {% if prod.quantity > 0%}
                        <option value = "{{prod.id}}">{{prod.product}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for = "quantity"> Please select the quantity:
                        <input type = "number" id = "quantity" name = "quantity" value = "1" min = "1" max = "5">
                    </label>
                    <!-- <div id="itemImage">
                        <img src = {{products.0.image}} height = "200" width = "200">
                    </div> -->
                    <input type = "submit" value = "Place Order">
                    <br>
            </div>
        </form>
    </div>

<script>
    function selectChange(){
        var id = document.getElementById("products").value;
        //imageSwap();
        document.getElementById("itemImage").innerHTML = "";
    }

    function imageSwap(){
        var selected = document.getElementById("products").selectedIndex;

        var image = products.selected.image;
        document.getElementById("itemImage").innerHTML = image;
    }

    function popFunc(){
        alert("Order placed successfully!");
    }
</script>

</body>
</html>