<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

    <script src="https://xemantic.github.io/shader-web-background/dist/shader-web-background.min.js"></script>
    <script type="x-shader/x-fragment" id="image">
    precision highp float;

    uniform float iTime;
    uniform vec2  iResolution;

    const float speed = 0.4;
const float widthFactor = 2.0;

vec3 calcSine(vec2 uv,
              float frequency, float amplitude, float shift, float offset,
              vec3 color, float width, float exponent, bool dir)
{
    float angle = iTime * speed * frequency + (shift + uv.x) * 0.75;

    float y = sin(angle) * amplitude + offset;
    float clampY = clamp(0.0,y,y);
    float diffY = y - uv.y;

    float dsqr = distance(y,uv.y);
    float scale = 1.0;

    if(dir && diffY > 0.0)
    {
        dsqr = dsqr * 4.0;
    }
    else if(!dir && diffY < 0.0)
    {
        dsqr = dsqr * 4.0;
    }

    scale = pow(smoothstep(width * widthFactor, 0.0, dsqr), exponent);

    return min(color * scale, color);
}

void mainImage( out vec4 fragColor, in vec2 fragCoord )
{
    vec2 uv = fragCoord.xy / iResolution.xy;
    vec3 color = vec3(0.0);

    float t1 = (sin(iTime/20.0) / 3.14) + 0.2;
	float t2 = (sin(iTime/10.0) / 3.14) + 0.2;

    color += calcSine(uv, 0.20, 0.2, 0.0, 0.5,  vec3(0.5, 0.5, 0.5), 0.1, 15.0,false);
    color += calcSine(uv, 0.40, 0.15, 0.0, 0.5, vec3(0.5, 0.5, 0.5), 0.1, 17.0,false);
    color += calcSine(uv, 0.60, 0.15, 0.0, 0.5, vec3(0.5, 0.5, 0.5), 0.05, 23.0,false);

    color += calcSine(uv, 0.26, 0.07, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.1, 17.0,true);
    color += calcSine(uv, 0.46, 0.07, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.05, 23.0,true);
    color += calcSine(uv, 0.58, 0.05, 0.0, 0.3, vec3(0.5, 0.5, 0.5), 0.2, 15.0,true);

    color.x += t1 * (1.0-uv.y);
	color.y += t2 * (1.0-uv.y);

    fragColor = vec4(color,1.0);
}

void main() {
    mainImage( gl_FragColor, gl_FragCoord.xy );
}
  </script>

    <script>
    shaderWebBackground.shade({
      shaders: {
        image: {
          uniforms: {
          iResolution: (gl, loc, ctx) => gl.uniform2f(loc, ctx.width, ctx.height),
            iTime: (gl, loc) => gl.uniform1f(loc, performance.now() / 1000)
          }
        }
      }
    });
  </script>

</head>

<body>
<div class="container">
    <div id="header" class="header-grid">
        <h1 id="header-text">Order</h1>

        <div id="navbar">
        <ul id="navbar-ul" class="navbar-grid">
            <li id="home"><a href="/">Home</a></li>
            {% if current_user.is_authenticated %}
            <li id="order"><a href="order">Order</a></li>
            {% endif %}
            {% if not current_user.admin %}
            <li id="about"><a href="about">About</a></li>
            {% endif %}
            <li id="resources"><a href="resources">Resources</a></li>
            {% if current_user.is_authenticated %}
            <li id="update"><a href="update">Update Information</a></li>
            <li id="logout"><a href="logout">Logout</a></li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li id="login"><a href="login">Login</a></li>
            {% endif %}
            {% if current_user.admin %}
            <li id="admin"><a href="admin">Admin</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    
    <div id="form-group">
        {% if message %}
            <h3 class="message"> {{ message | safe }}</h3>
        {% endif %}
        <form action = "/submit" method = "POST">
            <label>Please select a product:</label>
                <select name = "products" id = "products" onchange = "selectChange()">
                    {% for prod in products %}
                    {% if prod.quantity > 0%}
                    <option value = "{{prod.id}}">{{prod.product}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for = "quantity"> Please select the quantity:
                    <input type = "number" id = "quantity" name = "quantity" value = "1" min = "1" max = "5">
                </label>
                <!-- <div id="itemImage">
                    <img src = {{products.0.image}} height = "200" width = "200">
                </div> -->
                <input type = "submit" value = "Place Order">
                <br>
        </form>
    </div>
</div>

<script>
    function selectChange(){
        var id = document.getElementById("products").value;
        //imageSwap();
        document.getElementById("itemImage").innerHTML = "";
    }

    function imageSwap(){
        var selected = document.getElementById("products").selectedIndex;

        var image = products.selected.image;
        document.getElementById("itemImage").innerHTML = image;
    }

    function popFunc(){
        alert("Order placed successfully!");
    }
</script>

</body>
</html>