<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div id="header" class="header-grid">
        <h1 id="header-text">Order List</h1>

            <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                {% if not current_user.admin %}
                <li id="about"><a href="about">About</a></li>
                {% endif %}
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
                {% if current_user.admin %}
                <li id="admin"><a href="admin">Admin</a></li>
                {% endif %}
            </ul>
    </div>
    </div>

    <div id="form-group">
        <form action = "/orderlist" method = "POST">
            <label>Please select an order:</label>
            <select name = "ordern" id = "ordern">
                {% for order in orders %}
                {% if not order.status %}
                <option value = "{{order.id}}">{{order.id}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type = "submit" value = "Delivered">
        </form>

        <h1>Completed Orders</h1>
        {% for order in orders %}
            {% if order.status %}
            {{order.id}}
            <p>Order Delivered</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>