<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    </head>
<body>

    <div class="container">
        <div id="header" class="header-grid">
            <h1 id="header-text">Condorm Delivery Service</h1>

            <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                <li id="about"><a href="about">About</a></li>
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
            </ul>
        </div>
        </div>
        <div id="registration-group">
            <h2>Registration</h2>
            <div class="registration-error">
                {% if message %}
                <h1 class="message"> {{ message | safe }}</h1>
                {% endif %}
            </div>

            <form action = 'registration' method = "POST">
                <div>
                    {{ form.username(class_ = 'form-control', placeholder = 'Username')}}

                        {% for error in form.username.errors %}
                        <br>{{error}}
                        {% endfor %}
                </div>
                <div>
                    {{ form.firstname(class_ = 'form-control', placeholder = 'First Name')}}

                        {% for error in form.firstname.errors %}
                        <br>{{error}}
                        {% endfor %}
                </div>
                <div>
                    {{ form.lastname(class_ = 'form-control', placeholder = 'Last Name')}}

                        {% for error in form.lastname.errors %}
                        <br>{{error}}
                        {% endfor %}
                </div>
                <div>
                    {{ form.email(class_ = 'form-control', placeholder = 'Email')}}

                        {% for error in form.email.errors %}
                        <br>{{error}}
                        {% endfor %}

                </div>
                <div>
                    {{ form.password(class_ = 'form-control', placeholder =  'Password')}}

                        {% for error in form.password.errors %}
                        <br>{{error}}
                        {% endfor %}

                </div>
                <div>
                    {{ form.repass(class_ = 'form-control', placeholder = 'Retype Password')}}

                        {% for error in form.repass.errors %}
                        <br>{{error}}
                        {% endfor %}

                </div>
                <div>
                    {{ form.dormname(class_ = 'form-control')}}
                </div>
                <div>
                    {{ form.roomnum(class_ = 'form-control', placeholder = 'Room Number')}}

                        {% for error in form.roomnum.errors %}
                        <br>{{error}}
                        {% endfor %}
                </div>
                <div>
                    {{form.submitbtn}}
                </div>

                {{ form.csrf_token }}
            </form>
        </div>
    </div>

</body>
</html>