<!DOCTYPE html>
<html>
    <style>
        form {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        .signup {
            text-align: center;
        }
    </style>
<body>
    <h1>Condorm Delivery Service</h1>
<form id="login">
    <label for="userName">Enter Username: </label>
    <input type="text" id="userName" name="userName"><br>
    <label for="password">Enter Password: </label>
    <input type="text" id="password" name="password"><br>
    <label>Re-enter Password: </label>
    <input type="text" id="rePass" name="rePass"><br>
    <label>Dormitory Name: </label>
    <input type="text" id="dormName" name="dormName"><br>
    <label>Dormitory Room Number: </label>
    <input type="number" id="roomNum" name="roomNum"><br>
    <input type="submit" value="Create Account">
</form>


</body>
</html>