<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">

    <div id="header" class="header-grid">
        <h1 id="header-text">Condorm Delivery Service</h1>

        <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                <li id="about"><a href="about">About</a></li>
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="info">
            <h3>On this page you will find resources for sexual health. Our team does not claim to be experts on sexual health; therefore, it is in your best interest
                to reference some of these sources on this page.
            </h3>
            <a class="link-button" style="width:12em;" href="https://www.cdc.gov/sexualhealth/Default.html">CDC</a>
            <br>
            <p>The CDC offers a wide variety of resources. On their website you can find things such as data and statistics, lab information, prevention methods, and different programs.</p>
            <br>
            <a class="link-button" style="width:12em;" href="https://www.plannedparenthood.org/">Planned Parenthood</a>
            <br>
            <p>Planned parenthood is more than just an abortion clinic. On their website you may find resources for birth control, sexual orientation, STDs, sex and relationships, and much more.</p>
            <br>
            <a class="link-button" style="width:12em;" href="https://health.uark.edu/">Pat Walker Health Center</a>
            <br>
            <p>The Pat Walker Health Center is the on campus health center. Here you can set appointments to be screened for STDs as well as find on campus resources for students who have experience sexual assault.</p>
            <br>
        </div>
    </div>


</body>
</html>