<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>
    <div class="container">

        <div id="header" class="header-grid">
            <h1 id="header-text">Users</h1>

            <div id="navbar">
            <ul id="navbar-ul" class="navbar-grid">
                <li id="home"><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                <li id="order"><a href="order">Order</a></li>
                {% endif %}
                {% if not current_user.admin %}
                <li id="about"><a href="about">About</a></li>
                {% endif %}
                <li id="resources"><a href="resources">Resources</a></li>
                {% if current_user.is_authenticated %}
                <li id="update"><a href="update">Update Information</a></li>
                <li id="logout"><a href="logout">Logout</a></li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="login"><a href="login">Login</a></li>
                {% endif %}
                {% if current_user.admin %}
                <li id="admin"><a href="admin">Admin</a></li>
                {% endif %}
            </ul>
            </div>
        </div>

        <div id="form-group">
            <form action = "/users" method = "POST">
                <label>Please select a username:</label>
                <select name = "usern" id = "usern">
                    {% for user in users %}
                    {% if not user.admin %}
                    <option value = "{{user.id}}">{{user.username}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type = "submit" value = "Make Admin">
            </form>
        </div>
    </div>
</body>
</html>