#content {
    grid-area: content;
    /*background-color: #f2f2f2;
    padding: 4em 10em;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 6em;
    margin-bottom: 6;
    border-radius: 100px;
    font-family: 'Source Sans Pro', sans-serif;*/
}
